on early-init
    start ueventd

on init
   
on early-fs
	    
on boot
#	write /sys/class/sec/switch/usb_sel PDA

# CPU Frequency Governor
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

# EHCI runtime enable for LPA
	write /sys/devices/platform/s5p-ehci/power/control auto
	
	write /sys/class/power_supply/battery/batt_lp_charging 1

	class_start default
	
	service ueventd /sbin/ueventd
    	critical

	service adbd /sbin/adbd	

	service healthd-charger /sbin/healthd -n
		critical
		
	service battery_charger /charger